@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f51ff;
    color: #102a42;
    font-family: 'Roboto', sans-serif;

}

button {
    font-family: 'Roboto', sans-serif;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    width: 90vw;
    max-width: 450px;
    padding: 24px 32px;
    border-radius: 10%;
    box-shadow: 0 5px 15px #102a42;
}

h1, h2, h3, h4 {
    text-transform: capitalize;
    line-height: 1.25;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

h1 {
    font-size: 30px;
}

p {
    color: #617d98;
}

img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    object-fit: cover; /*deixa a foto do tamanho escolhido dentro do width e height*/
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.355);
}

.monstros {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 20px;
}

.monstros h2 {
    margin-bottom: 5px;
}

.btn-azul {
    display: block;
    width: 100%;
    padding: 8px 0;
    border-radius: 15px;
    background-color: #1f51ff;
    color: #fff;
    border-color: transparent;
    margin: 24px auto 0 auto;
    outline: 1px solid rgba(31, 80, 255, 0.8);
    cursor: pointer;
    font-size: large;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-azul:hover {
    background-color: #102a42;
    box-shadow: rgba(0, 0, 0, 0.918);

}



